// Place all the styles related to the Thesis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.round-button {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  line-height: 8rem;
  border-radius: 5rem;
  color: white;
  text-align: center;
  font-size: 3rem;
}