<h2 id="democratic_approach" >Democratic Approach</h2>

Why do we say we have a democratic approach? Well...


<div>
<ul>
<li>Anyone should be entitled to vote.
<li>Voting should not require registration (let's see if this one holds)
<li>You need to know you are you, and your votes are yours, we don't.
</ul>
</div>

<h2 id="theses" >Theses</h2>

First thing first, this page might be full of typos, but <mark>thesis</mark> and <mark>theses</mark> are not one of them!
It just hapens that theses (ˈθiːsɪs ... also <span class="text-italic">thee-siss</span>) are the plural form of

thesis (ˈθiːsiːz ... also <span class="text-italic">thee-seez</span>).

tbd